@color: #333;
@theme-color: #409eff;
@border-color-deep: #dddddd;
@border-color: #ebeef5;

html{min-height: 100%;}
body{ color: @color; padding: 0; margin: 0;}
ul{ padding: 0; margin: 0; list-style: none;}
a{
  text-decoration: none; color: @color;
  &:hover {cursor: pointer; color: @theme-color;}
}



